version: '3.1'

services:

  server:
    image: node:8.11.4
    command: npm start
    ports:
      - "3001:3001"
    links:
      - db
    working_dir: /src
    environment:
      NODE_ENV: development
    volumes:
      - .:/src

  db:
    image: postgres:10.5
    restart: always
    environment:
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080